<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= 2 + 3 %></h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic corporis quidem aspernatur veniam numquam. Dolor officia voluptates nostrum qui dolorem possimus modi impedit quo? Sed fugiat beatae distinctio quidem facere.</p>
    <button>click me!</button>
</body>
</html>